<div class="container">
  <div class="card-title">
    <h1>Nos tests</h1>
  </div>
  <div class="card-content">
    <ul>
      <% @forms.each do |form| %>
        <li>
          <div class="card-product">
              <h2><%= link_to form.name, user_show_path(form) %></h2>
              <p><%= form.description %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
