.category {
  background-color: #fdeed0;
  margin: 10px;
  padding: 10px;
  list-style-position: inside;
}

.question {
  background-color: #fde1a9;
  margin: 10px;
  padding: 10px;
  list-style-position: inside;
  list-style-type: lower-alpha;
}

.answer {
  background-color: #ffd580;
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}

.card-title {
  background-color: $my-yellow;
  padding: 15px;
  text-align: center;

  h1 {
    font-family: 'Francois One', sans-serif;
    color: $my-darkblue;
    padding: 15px;
  }
}

.card-content {
  display: block;
  background-color: #fdfcfa;
  text-align: justify;
  margin: 0px;
  padding: 10px;

  h2, h3, p {
    font-family: 'Roboto', sans-serif;
    color: $my-darkblue;
    padding: 20px;
  }

  h2 {
    font-weight: 700;
    border: 2px solid $my-darkblue;
  }

  h3 {
    font-weight: 400;
    color: $my-yellow;
  }

  p {
    font-weight: 400;
  }

  ul {
    list-style-type: none;
  }

  table, td, th, thead, tfoot {
    border: 1px solid black;
  }

  table {
    margin: 20px;
  }
  td {
    height: 40px;
    width: 100px;
    text-align: left;
  }

  thead, tfoot {

    background-color: $my-yellow;
    color: $my-darkblue;
  }
}

.card-social ul li {
  display: inline-block;
  list-style-type: none;
  justify-content: space-between;
}

.card-category {
  background-color: rgb(50, 166, 196);
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 167, 18);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  height: 120px;
  background: $my-lightgreen;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.card-results {
  background: $my-lightgreen;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  padding: 10px;

  P {
    padding: 10px;
  }

  span {
    background-color: $my-darkblue;
    color: #fdfcfa;
    padding: 5px;
    margin-left: 10px;
  }
}
